<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header class="encabezado">

        <img src="/recursos/hamburger.png" class="encabezado__logo" alt="" width="120px">
        <img src="/recursos/logo.png" class="encabezado__logo" alt="">
        <div class="encabezado__carro">
          <a href="/carrito">
        <img src="/recursos/carrito.png" class="encabezado__carrito" alt="" height="60px">
         </a>
         <span class="carrito__num"> </span>
         </div>
    </header >
    
     <div class="carrito-desplegado">
        <h3>Carrito</h3>
        <ul class="carrito-desplegado__lista"></ul>
    </div>

    <script src="/scripts/tienda.js"></script>
</body>
</html>